/* Header Component */
.header {
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: transform var(--transition-normal) ease-in-out;
  transform: translateY(-100%);
  z-index: 1000;
  background-color: var(--color-base-300);
  border-bottom: 2px solid var(--color-base-100);
}

/* Show header on scroll */
.header.show {
  transform: translateY(0);
}

/* Navbar */
.navbar {
  width: var(--width-desktop);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

/* Logo Section */
.navbar-logo {
  flex-shrink: 0;
}

.logo-link {
  display: block;
  transition: var(--transition-normal);
}

.logo-link:hover {
  opacity: 0.7;
}

.logo {
  width: 100px;
  height: auto;
}

/* Navigation Links */
.nav-list {
  display: flex;
  gap: 3em;
  justify-content: center;
  align-items: center;
}

.nav-link {
  color: var(--color-text-200);
  font-size: var(--font-size-lg);
  transition: color var(--transition-normal);
}

.nav-link:hover {
  color: var(--color-text-100)
}

/* Social Media Links */
.social-links {
  display: flex;
  gap: 2em;
  justify-content: center;
  align-items: center;
}

.social-link {
  display: block;
  opacity: 0.6;
  transition: opacity var(--transition-normal);
}

.social-link:hover {
  opacity: 1;
}

.social-icon {
  width: 2.2em;
  height: 2.2em;
}

@media (max-width: 768px) {
  .logo {
    width: 80px;
  }

  .nav-link {
    display: none;
  }

  .social-links {
    gap: 1rem;
  }
}
